.header{
    height: 250px;
}

.container{
    width: 80%;
    text-align: center;
    text-align: justify;
    background-color: #fff5e8;
    font-family: Arial, sans-serif;
}
#buso{
    display: block;
    float: left;
    padding: 5px;
    margin: 5px, 15px, 5px, 15px;
    width: 15em;
    border: solid #ffebd0;
}
#jankele{
    display: block;
    float: right;
    padding: 5px;
    margin: 5px, 15px, 5px, 15px;
    width: 15em;
    border: solid #ffebd0;
}
p{
    text-indent: 20px;
    color: #522f00;
}
h1{
    color: #b16400;
}
h2{
    color: #b16400;
}
.buso{
    background-color: white;
    margin: 5px, 15px, 5px, 15px;
}

ul{
    list-style-image: url(jel.png);

}
li{
    margin-bottom: 25px;

}

.footer{
    height: 60px;
    clead:both;
    margin-top: 20px;
font-size: 0,8em;
}

#logo{
    float: right;
    height: 55px;
}

a{
text-align: initial;
}